@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 414px;
    font-family: "Open Sans", sans-serif;
  }
  #header {
    width: 42rem;
  }

  .header {
    width: 42rem;
  }

  .wrapper {
    width: 40rem;
  }
  .navigation {
    display: none;
  }

  .navigation__list {
    top: -5%;
    left: -19px;
  }

  .introduction {
    width: 40rem;
    margin: 0 auto;
  }

  .section-middle__description {
    width: 290px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    font-family: inherit;
  }

  .section-third {
    display: block;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 2900px;
    padding: 100px 0;
  }

  .section-third__title {
    text-align: left;
  }

  .section-third__description--paragraph {
    text-align: justify;
  }

  .section-third__description--1 {
    width: 100%;
    height: 946px;
    font-size: 14px;
    text-align: justify;
  }

  .far {
    margin-right: 5px;
  }
  .section-third__description--2 {
    width: 275.5px;
    height: 695px;
  }
  .section-third__description--2,
  .section-third__description--3 {
    margin: 0 auto;
  }
  .section-third__detail {
    display: block;
  }

  .section-fourth__client {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

  .section-fifth {
    height: 100%;
    background-size: cover;
  }

  .section-fifth__wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
  }

  .section-fifth__wrapper--item > p {
    margin-bottom: 5px;
  }

  .section-sixth-value {
    width: 414px;
    height: 389px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section-sixth__wrapper {
    display: block;
  }

  .section-sixth {
    padding: 7rem 0;
  }

  .section-sixth-value h2 {
    font-size: 18px;
    width: 290px;
    margin-bottom: 26px;
  }

  .section-sixth__title {
    text-transform: uppercase;
    border: 2px solid black;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 5rem;
    font-weight: 700;
    margin-bottom: 4.5rem;
    line-height: 2.8rem;
    position: relative;
    left: 111px;
  }

  .section-sixth-teammember {
    margin-top: 37px;
  }

  .section-sixth--list__divine {
    display: block;
    height: 270px;
    text-align: left;
  }

  .section-sixth-teammember__col--hidden {
    display: none;
  }

  .office-location {
    background: url(./images/footer.png);
    color: white;
    padding: 10px 10px;
    height: auto;
  }

  .office-location__wrapper {
    width: 414px;
  }

  .office-location__mainwrapper {
    display: flex;
    flex-direction: column;
    width: 414px;
  }
  .office-location__subwrapper {
    width: 26.5rem;
    font-size: 14px;
    padding: 0 15px;
    height: auto;
  }

  .footer__bottom {
    width: 414px;
    display: block;
    margin-bottom: 17px;
  }

  .office-location__list li:not(:first-child) {
    border-left: 0;
    padding-left: 0;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 414px;
    font-family: "Open Sans", sans-serif;
  }
  #header {
    width: 414px;
  }
  .wrapper {
    width: 100%;
  }
  .navigation {
    display: block;
  }

  .navigation__button {
    top: 2px;
    right: 25px;
  }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(72);
  }
  .navigation__list {
    top: 10px;
    left: -13px;
  }
  .navigation__link,
  .navigation__link:link,
  .navigation__link:visited {
    font-family: inherit;
  }

  .introduction {
    width: 40rem;
    margin: 0 auto;
  }

  .section-middle__description {
    width: 290px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    font-family: inherit;
  }

  .section-third {
    display: block;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 2900px;
    padding: 100px 0;
  }

  .section-third__description--paragraph {
    text-align: justify;
  }

  .section-third__description--1 {
    width: 100%;
    height: 946px;
    font-size: 14px;
    text-align: justify;
  }

  .far {
    margin-right: 5px;
  }
  .section-third__description--2 {
    width: 275.5px;
    height: 695px;
  }
  .section-third__description--2,
  .section-third__description--3 {
    margin: 0 auto;
  }
  .section-third__detail {
    display: block;
  }

  .section-fourth__client {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

  .section-fifth {
    height: 100%;
    background-size: cover;
  }

  .section-fifth__wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
  }

  .section-fifth__wrapper--item > p {
    margin-bottom: 5px;
  }

  .section-sixth-value {
    width: 414px;
    height: 389px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section-sixth__wrapper {
    display: block;
  }

  .section-sixth {
    padding: 7rem 0;
  }

  .section-sixth-value h2 {
    font-size: 18px;
    width: 290px;
    margin-bottom: 26px;
  }

  .section-sixth__title {
    text-transform: uppercase;
    border: 2px solid black;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 5rem;
    font-weight: 700;
    margin-bottom: 4.5rem;
    line-height: 2.8rem;
    position: relative;
    left: 111px;
  }

  .section-sixth-teammember {
    margin-top: 37px;
  }

  .section-sixth--list__divine {
    display: block;
    height: 270px;
    text-align: left;
  }

  .section-sixth-teammember__col--hidden {
    display: none;
  }

  .office-location {
    background: url(./images/footer.png);
    color: white;
    padding: 10px 10px;
    height: auto;
  }

  .office-location__wrapper {
    width: 414px;
  }

  .office-location__mainwrapper {
    display: flex;
    flex-direction: column;
    width: 414px;
  }
  .office-location__subwrapper {
    width: 26.5rem;
    font-size: 14px;
    padding: 0 15px;
    height: auto;
  }

  .footer__bottom {
    width: 414px;
    display: block;
    margin-bottom: 17px;
  }

  .office-location__list li:not(:first-child) {
    border-left: 0;
    padding-left: 0;
    padding-right: 20px;
  }
}
