*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.logo__link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 2.3rem;
  max-width: 40rem;
  pointer-events: none;
}

/* navigation styling */
.navigation__background {
  height: 4rem;
  width: 3rem;
  /* border-radius: 50%; */
  position: fixed;
  top: 0.5rem;
  right: -93.5rem;
  background-image: linear-gradient(
    184deg,
    rgba(36, 12, 7, 0.9923319669664741) 55%,
    rgba(230, 228, 213, 1) 144%
  );
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  /* transform: scale(80); */
  color: transparent;
  opacity: 0.3;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: white;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 0.2rem;
  right: 20rem;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation__list {
  position: absolute;
  top: -5%;
  left: 60%;
  transform: translate(-50%, 50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}
.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 240%;
  transition: all 0.4s;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: black;
  transform: translateX(2rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 24%;
}

.navigation__icon {
  position: relative;
  margin-top: 2.5rem;
}

.navigation__icon,
.navigation__icon::after,
.navigation__icon::before {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::after,
.navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
/* ends here */

#header {
  max-width: 100%;
  height: 5.9rem;
  background-color: transparent;
  padding: 1rem 4.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 2px 0px rgb(0 0 0 / 15%);
  text-rendering: optimizeLegibility;
  z-index: 2;
  font-size: 1.4rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.logo__link--custom {
  aspect-ratio: auto 135/47;
  height: 3.3rem;
  vertical-align: middle;
  max-height: 3.3rem;
  max-width: 21rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 90rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

/* text styling */
.introduction {
  text-align: center;
  height: 53rem;
  width: 78rem;
  margin: 0 auto;
  padding: 1rem 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.quote {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.7rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: "Open Sans", sans-serif;
}
.hello {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Open Sans", sans-serif;
  font-family: "Press Start 2P", cursive;
}
.quote2 {
  font-style: italic;
  font-size: 1.9rem;
  margin-bottom: 0rem;
  font-weight: 100;
}
.author {
  font-size: 1.6rem;
  margin-top: 0rem;
}
h2 {
  font-size: 2.1rem;
}

.section-top {
  background-attachment: fixed;
  background-clip: border-box;
  background-size: cover;
  background-origin: padding-box;
  height: 1014.4px;
  width: 100%;
  height: 90rem;
  background: url(https://sun-asterisk.vn/wp-content/uploads/2019/03/sun-banner.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-middle {
  background: url(https://sun-asterisk.vn/wp-content/uploads/2019/03/sun-vision.jpg);
  background-size: cover;
  height: 1014.4px;
  width: 100%;
  height: 100%;
}

/*// section middle */

.section-middle__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 76rem;
}

a:nth-child(3) {
  margin-top: 6rem;
}

.section-middle__title:link {
  text-transform: uppercase;
  color: white;
  padding: 0 5rem;
  height: 3rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-size: 1.8rem;
  border: 2px solid white;
  margin-bottom: 6rem;
  text-decoration: none;
  pointer-events: none;
}
.section-middle__title:visited {
  text-decoration: none;
  color: white;
  pointer-events: none;
}

.section-middle__description {
  font-size: 2.2rem;
  color: white;
  font-weight: normal;
  font-family: "Krona One", sans-serif;
}

/* section third */

.section-third {
  background: url(https://sun-asterisk.vn/wp-content/themes/framgia-vn/css/images/bg/bg_what-we-do.png);
  background-size: cover;
  height: 1014.4px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.3rem;
}

.section-third__description--1 {
  width: 45.6rem;
  height: 75.38rem;
  font-size: 1.4rem;
}
.section-third__description--2 {
  width: 24.75rem;
  height: 76.5rem;
}
.section-third__description--3 {
  width: 24.75rem;
  height: 80rem;
}

.section-third__detail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 6.5rem 0;
}

.section-third__introduction {
  text-transform: uppercase;
  color: white;
  padding: 0 5rem;
  height: 3rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-size: 1.3rem;
  border: 2px solid white;
  width: 35rem;
}

/* icon styling */
.fa-file-code,
.fa-lightbulb,
.fa-mobile {
  font-size: 1.9em;
}
